.menudirec {
    direction: rtl;
    transition: 300ms;
}

.menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 22, 23, .8);
    /* direction: rtl; */
    /* display: none; */
    display: none;
    justify-content: end;
    position: absolute;
    /* top: 45px; */
    right: -100%;
    /*right: 0;*/
    transition: 300ms;
    z-index: 2;
    overflow: hidden;
}

.menu > nav {
    /*width: inherit;*/
    height: inherit;
}

.menu > nav > ul {
    width: 100%;
    /*height: inherit;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.menu > nav > ul > li {
    width: 100%;
    height: 39px;
    text-align: end;
    line-height: 28px;
    padding-left: 26px;
    margin-bottom: 9px;
}

.menu > nav > ul > :nth-child(1) {
    line-height: 34px;
    text-align: end;

}


/*.menu > nav > ul > li > .icon:after {*/
/*    content: "\f179";*/
/*    font-family: FontAwesome;*/
/*}*/

.menu > nav > ul > li > a {
    color: whitesmoke;
    display: inline-block;
    width: 100%;
    /* height: inherit; */
    /* object-fit: cover; */
    padding-top: 10px;
    font-size: 28px;
    text-transform: capitalize;
    transition: 300ms;
    font-weight: bold;
}


.menu > nav > ul > li > a:hover {
    /*color: deeppink;*/
    color: deeppink;
    width: 100%;
    /*height: inherit;*/
}

.menu > nav > ul > li > a > img {
    width: 13px;
    height: inherit;
}

.bala {
    display: flex;
    width: 100%;
    direction: rtl;
}

.bala > .icon {
    height: 21px;
    line-height: 56px;
}

.bala > .icon > img {
    width: 13px;
    height: inherit;
}

.label {
    /*direction: rtl;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(22, 22, 23, .8);
}

.bala >.label >.right>.righticon{
    display: flex;
    margin: -3px 15px 0 0;
}
.bala >.label >.right>.righticon>img{
    width: 20px;
    margin-left: 30px;
}
/*.bala >.label >.right>.righticon>img{*/
/*    */
/*}*/
#open, #close {
    display: none;
    /*direction: rtl;*/
}

#open:checked ~ div.menu {
    right: 0;
    top: 0;
    background-color: #161617;
    display: block;
}

.bala > .label > .left {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: flex-end;
    margin-top: 7px;
}

.bala > .label > .left > a > img{
    width: 18px;
}
    /*input{*/
    /*    all: unset;*/
    /*}*/
label[for=open] {
    display: inline-block;
    /* direction: rtl; */
    width: 40px;
    height: 40px;
    /* background-color: #2b2b2b; */
    color: whitesmoke;
    font-size: 24px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    color: gray;
    padding-top: 3px;

}


label[for=close] {
    display: inline-block;
    /* direction: rtl; */
    width: 40px;
    height: 40px;
    background-color: #2b2b2b;
    color: whitesmoke;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.menu .submenu{
    display: none;
}
.menu .icon{
    display: none;
}